@import "../ambience/colors";
@import "../ambience/typography";

.page-container {
  font-family: $font-helvetica;
  margin: 140px 25vw 70px;

  & > .title {
    position: relative;

    color: mix($color-purple, #000, 80%);
    font-size: 64px;

    &::after {
      display: block;
      position: absolute;
      content: '';
      bottom: 0;

      width: 2ch;
      height: 1px;

      background-color: $color-purple;
    }
  }

  & > .content {
    margin-top: 70px;
  }
}
