$font-family-body:  'Source Sans Pro', sans-serif;
$font-family-headings:  'Source Sans Pro', sans-serif;

$font-size-mega: 3.5em;
$font-size-kilo: 2.5em;
$font-size-hecto: 2em;
$font-size-deca: 1.5em;
$font-size-base: 1em;
$font-size-deci: 0.875em;
$font-size-centi: 0.625em;
