@import "../ambience/colors";
@import "../ambience/typography";

html {
  font-family: $font-default;
  font-size: 16px;
  line-height: 1.5;

  * {
    margin: 0;
  }

  * + * {
    margin-top: 0.75em;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;

  font-weight: 700;
  line-height: 1.25;

  * + & {
    margin-top: 1em;
  }
}

h3, h5, h6 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
  color: hsl(0, 0, 40%);
}

p, li {
  margin-bottom: 0;
  font-size: 1.25em;
}

ul, ol {
  padding: 0;
}

a {
  color: $color-link;

  &:hover {
    color: mix($color-link, #000, 60%);
  }

  &:visited {
    color: $color-link-visited;

    &:hover {
      color: mix($color-link-visited, #000, 60%);
    }
  }
}

code {
  margin: 0;
  display: inline-flex;
  align-items: center;

  font-size: 0.75em;
  vertical-align: middle;

  background-color: hsl(0, 0, 95%);
  border: 1px solid hsl(0, 0, 85%);
  border-radius: 2px;
  padding: 2px;
}

blockquote {
  padding: 0.5em;
  padding-left: 2em;

  font-style: italic;
  color: hsl(0, 0, 40%);

  background-color: hsl(0, 0, 95%);
  border-left: 2px solid hsl(0, 0, 40%);
}
